.navbar {
  position: fixed;
  width: 100%;
  z-index: 9;
}
.btn-secondary {
  color: #fff;
  background-color: #c8c8c8;
  border-color: #c8c8c8;
}
.card {
  margin-bottom: 10px;
}
section {
  padding: 100px 0;
}
.downloadBtn {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.more {
  display: none;
}
.dots {
  font-size: 16px;
  font-weight: 900;
  color: gray;
}
.dots:hover {
  cursor: pointer;
}

.textArrow {
  margin-left: 14%;
  color: #9b9b9b;
}

.textArrow:hover {
  cursor: pointer;
}

.navbar-collapse {
  display: flex;
}

.navbar-expand-lg {
  flex-wrap: nowrap;
}

.not-found {
  display: none;
}

.container-error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.center-txt {
  text-align: center;
}

.sizing {
  font-family: Consolas;
  font-weight: bold;
  font-size: 70px;
  border: 10px solid black;
  border-radius: 50%;
  height: 43%;
  width: 43%;
  margin-left: 28%;
  margin-bottom: 0px;
}

.fa-hat-wizard {
  margin-right: 5px;
}

.hide {
  display: none;
}

.fade-in {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.card-img-top:hover {
  transform: scale(
    1.03
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-description {
  position: relative;
  margin-bottom: 35px;
}
