.navbar{
  position: fixed;
    width: 100%;
    z-index: 9;
}
.btn-secondary {
  color: #fff;
  background-color: #c8c8c8;
  border-color: #c8c8c8;
}
.card{
  margin-bottom: 10px;
}
section{
  padding: 100px 0;
}
.downloadBtn{
  position: absolute;
    bottom: 8px;
    right: 16px;
}

.more{display: none;}
.dots{
  font-size: 16px;
  font-weight: 900;
  color: gray;
}
.dots:hover{
  cursor: pointer;
}

.textArrow{
  margin-left: 14%;
color: #9b9b9b;
}

.textArrow:hover{
  cursor: pointer;
}